@model IEnumerable<Pie>
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to My Shop</h1>
    <div class="row">
        @foreach (var pie in Model)
        {
            <div class="col-lg-4 col-sm-6">
                <a asp-action="Details" asp-route-id="@pie.Id" >
                <img src="@pie.ImageThumbnailUrl" alt="Pie" class="img-thumbnail" />
                </a>
                <div class="row">
                    <h3 class="col-8">@pie.Name</h3>
                    <h3 class="col-4">@pie.Price.ToString("c")</h3>
                </div>
                <div class="row">
                    <p class="my-desc col-12 d-none border bg-light">@pie.LongDescription</p>
                    <p class="col-8">@pie.ShortDescription</p>
                    <button class="my-button col-4 btn btn-outline-primary" type="button">Show more</button>
                </div>
            </div>
        }
    </div>
</div>
